:root {
  --main-dark: #353535;
  --main-shadow: 0 0 10px #00000020;
}

body {
  position: relative;
  font-family: "Raleway", sans-serif;
  min-height: 100vh;
}

h1 {
  font-size: 20px;
  font-weight: 600;
}

a,
a:hover {
  text-decoration: none;
  color: var(--main-dark);
}

br {
  display: block;
  height: 1px;
}

input,
button {
  outline: none;
  border: none;
  font-family: "Raleway", sans-serif;
}

button {
  cursor: pointer;
}

/* Header */

header {
  position: sticky;
  top: 0;
  width: 100%;
  font-weight: 600;
  color: var(--main-dark);
  box-shadow: var(--main-shadow);
  background-color: #fff;
  z-index: 10;
}

.header-wrapper {
  position: relative;
  width: 100%;
  max-width: 1400px;
  height: 80px;
  margin: 0 auto;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  width: 20%;
  min-width: 150px;
  box-sizing: border-box;
  padding: 1em;
}

.header-logo img {
  max-width: 100%;
}

.header-menu {
  display: flex;
  width: 50%;
  justify-content: space-around;
}

.header-menu li {
  flex-grow: 1;
  padding: 1em 0;
  border-radius: 1em;
  cursor: pointer;
  text-align: center;
  transition: 0.2s ease-out;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
}

.header-menu li:hover {
  background-color: #00000020;
}

/* Header cart */

.header-cart {
  position: relative;
}

.header-cart-logo {
  height: 2em;
  padding: 0.5em;
  border-radius: 1em;
  transition: 0.2s ease-out;

  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.header-cart-logo:hover {
  background-color: #00000020;
}

.header-cart-sum {
  position: absolute;
  text-align: center;
  top: 3em;
  min-width: 3em;
  white-space: nowrap;
}

.header-cart-content {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  width: 40vw;
  min-width: 200px;
  padding-top: 1em;
  border-radius: 1em;
  min-height: 200px;
  right: 0;
  box-sizing: border-box;
  box-shadow: var(--main-shadow);
  max-height: 80vh;
  overflow-y: auto;
  background-color: #fff;
  transition: 0.2s ease-out;

  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
}

.header-cart-content-sum {
  padding-top: 1em;
  border-top: solid 2px var(--main-dark);
  width: 100%;
  text-align: center;
  align-self: flex-end;
}

.header-cart-content-dish {
  box-sizing: border-box;
  width: 100%;
  padding: 1em;
  margin: 0 1em;
  border-radius: 1em;
  height: 10em;
  display: flex;
  flex-wrap: nowrap;
  gap: 1em;
  transition: 0.2s ease-out;

  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
}

.header-cart-content-dish:hover {
  box-shadow: var(--main-shadow);
}

.header-cart-content-dish img {
  max-height: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
}

.header-cart-content-dish-info {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}

.header-cart-content-dish-info h1 {
  width: 100%;
}

.header-cart-content-dish-info-price {
  flex-grow: 1;
  text-align: right;
}

.quantity {
  max-width: 200px;
  flex-grow: 1;
  height: 35px;
  display: flex;

  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.quantity-value {
  flex-grow: 1;
  width: 1em;
  font-size: 20px;
  text-align: center;
  background-color: transparent;
}

.quantity-control {
  cursor: pointer;
  user-select: none;
  font-size: 32px;
  height: 1em;
  width: 1em;
  max-width: 1em;
  box-sizing: border-box;
  border-radius: 0.25em;
  background-color: var(--main-dark);
  font-family: "Raleway", sans-serif;
  text-align: center;
  color: white;
  transition: 0.2s ease-out;

  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -o-border-radius: 0.25em;
}

.quantity-control:hover {
  opacity: 0.8;
}

.header-cart-content-button {
  align-self: flex-end;
  width: 100%;
  background-color: var(--main-dark);
  font-weight: 600;
  font-family: "Raleway", sans-serif;
  border: none;
  color: white;
  font-size: 16px;
  transition: 0.2s ease-out;

  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
}

.header-cart-content-button a {
  display: block;
  box-sizing: border-box;
  padding: 1em;
  width: 100%;
  color: #fff;
}

.header-cart-content-button:hover {
  opacity: 80%;
}

/* Header account */

.header-account {
  position: relative;
}

.header-account-logo {
  height: 2em;
  padding: 0.5em;
  border-radius: 1em;
  transition: 0.2s ease-out;

  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
}

.header-account-logo:hover {
  background-color: #00000020;
}

.header-account-menu {
  position: absolute;
  right: 0;
  background-color: #fff;
  border-radius: 1em;
  overflow: hidden;
  width: 200px;
  box-shadow: var(--main-shadow);

  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
}

.header-account-menu p {
  padding: 1em;
  transition: 0.2s ease-out;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
}

.header-account-menu p:hover {
  background-color: #00000020;
}

/* Footer */

footer {
  position: absolute;
  width: 100%;
  background-color: var(--main-dark);
  color: white;
  height: 200px;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.footer-info {
  height: 150px;
  text-align: center;
}

.footer-info img {
  height: 80px;
  box-sizing: border-box;
  padding: 1em;
  border-bottom: solid white 1px;
  margin-bottom: 1em;
}

.footer-contact {
  text-align: center;
}

.footer-contact img {
  width: 50px;
  margin: 0 10px;
  transition: 0.2s ease-out;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
}

.footer-contact img:hover {
  transform: scale(110%);
}

/* Content */

.content {
  position: relative;
  box-sizing: border-box;
  min-height: calc(100vh - 80px);
  margin: 0 auto;
  padding: 20px;
  padding-bottom: 220px;
  width: 100%;
  max-width: 1400px;
  font-weight: 400;
  background-color: #00000010;
}

/* Delivery */

.content-delivery h1 {
  padding: 1em 0;
}

.content-delivery p {
  padding: 1em 0;
}

.content-delivery-map {
  box-shadow: var(--main-shadow);
  border-radius: 1em;

  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
}

/* Status */

.content-status {
  color: var(--main-dark);
  display: flex;
  align-items: center;
  font-weight: 600;
  border-radius: 1em;
  padding: 1em;
  margin-bottom: 1em;
  background-color: #fff;
  box-shadow: var(--main-shadow);

  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
}

/* Menu */

.content-menu {
  display: grid;
  position: relative;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.content-menu-dish {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  color: var(--main-dark);
  box-sizing: border-box;
  padding: 1em;
  gap: 1em;
  transition: 0.2s ease-out;
  border-radius: 1em;

  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
}

.content-menu-dish:hover {
  box-shadow: var(--main-shadow);
}

.content-menu-dish-photo {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 1em;

  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
}

.content-menu-dish-description {
  width: 100%;
  font-size: 14px;
  height: 100px;
  overflow: hidden;
}

.content-menu-dish-cart-price {
  flex-grow: 1;
  font-weight: 600;
  font-size: 20px;
}

.content-menu-dish-cart-quantity {
  flex-grow: 1;
}

.content-menu-dish-cart-button {
  width: 100%;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
  border-radius: 0.5em;
  background: var(--main-dark);
  padding: 0.5em;
  color: white;
  font-size: 16px;
  transition: 0.2s ease-out;

  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
}

.content-menu-dish-cart-button:hover {
  opacity: 80%;
}

/* Cabinet */

/* Data */
.content-cabinet-tabs {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1em;
}

.content-cabinet-tab {
  flex-grow: 1;
  font-weight: 600;
  padding: 0.5em 1em;
  margin-right: 1em;
  font-size: 16px;
  background-color: transparent;
  color: var(--main-dark);
  border-radius: 0.5em;
  transition: 0.2s ease-out;

  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
}

.content-cabinet-tab:hover {
  opacity: 80%;
}

.content-cabinet-tab-active {
  color: #fff;
  background-color: var(--main-dark);
}

.content-cabinet-data-field {
  width: 100%;
  background-color: #fff;
  border: solid 2px var(--main-dark);
  border-radius: 1em;
  overflow: hidden;
  margin: 0.5em 0;

  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
}

.content-cabinet-data-field input {
  padding: 1em;
  width: 100%;
  font-size: 16px;
}

#content-cabinet-data-form-button {
  font-size: 16px;
  font-weight: 600;
  padding: 1em;
  width: 100%;
  background-color: var(--main-dark);
  color: #fff;
  border-radius: 1em;
  transition: 0.2s ease-out;

  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
}

.content-cabinet-data-form button:hover {
  opacity: 80%;
}

/* Orders */
.content-cabinet-orders {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.content-cabinet-order {
  background-color: #00000020;
  color: var(--main-dark);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 1em;
  overflow: hidden;
  box-shadow: var(--main-shadow);
  transition: 0.2s ease-out;

  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
}

.content-cabinet-order-info {
  width: 100%;
  color: var(--main-dark);
  background-color: white;
  font-weight: 600;
  padding: 1em;
  border-radius: 1em;

  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
}

.content-cabinet-order-description-dishes {
  flex-basis: 40%;
  flex-grow: 1;
  padding: 1em;
}

.content-cabinet-order-description-dish {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  border-bottom: solid 2px var(--main-dark);
}

.content-cabinet-order-description-dish-name {
  font-size: 16px;
}

.content-cabinet-order-description-sum {
  font-weight: 600;
}

.content-cabinet-order-description-sum h1 {
  float: left;
}

.content-cabinet-order-description-sum p {
  float: right;
}

.content-cabinet-order-description-data {
  flex-basis: 40%;
  flex-grow: 1;
  padding: 1em;
}

.content-cabinet-order-description-data h1 {
  font-size: 16px;
}

.content-cabinet-order-description-data p {
  font-size: 16px;
  padding: 0.5em 0;
}

.content-cabinet-about h1,
h2 {
  font-weight: 600;
  padding: 1em 0;
}

/* Summary */
.content-summary {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1em;
  color: var(--main-dark);
}

.content-summary-delivery {
  flex-basis: 60%;
  flex-grow: 1;
  background-color: #fff;
  border-radius: 1em;
  padding: 1em;
  box-shadow: var(--main-shadow);

  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
}

.content-summary-paymethods {
  flex-basis: 20%;
  flex-grow: 1;
  background-color: #fff;
  border-radius: 1em;
  padding: 1em;
  box-shadow: var(--main-shadow);

  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
}

.content-summary-paymethods-total {
  font-size: 17px;
  font-weight: 600;
  padding: 2em 0;
}

.content-summary-paymethods-button {
  color: #fff;
  background-color: var(--main-dark);
  font-size: 16px;
  font-weight: 600;
  padding: 1em;
  width: 100%;
  border-radius: 1em;
  transition: 0.2s ease-out;

  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
}

.content-summary-paymethods-button:hover {
  opacity: 80%;
}

.dropdown-arrow {
  float: right;
  transition: 0.2s ease-out;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
}

.dropdown-arrow-collapsed {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.dropdown {
  position: relative;
  margin: 1em 0;
  position: relative;
  width: 100%;
}

.dropdown button {
  position: relative;
  z-index: 2;
  width: 100%;
  background-color: #fff;
  font-size: 16px;
  padding: 1em;
  text-align: left;
  border: solid 2px var(--main-dark);
  border-radius: 1em;

  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
}

.dropdown-options {
  position: absolute;
  background-color: #fff;
  padding-top: 1em;
  z-index: 1;
  top: 35px;
  border: solid 2px var(--main-dark);
  width: 100%;
  display: none;
  border-radius: 0 0 1em 1em;
  overflow: hidden;
  box-sizing: border-box;

  -webkit-border-radius: 0 0 1em 1em;
  -moz-border-radius: 0 0 1em 1em;
  -ms-border-radius: 0 0 1em 1em;
  -o-border-radius: 0 0 1em 1em;
}

.dropdown-show {
  display: block;
}

.dropdown-options a {
  display: block;
  width: 100%;
  font-size: 16px;
  color: var(--main-dark);
  text-decoration: none;
  padding: 1em;
  text-align: left;
  transition: 0.2s ease-out;

  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
}

.dropdown-options a:hover {
  background-color: #00000020;
}

.content-summary-dish {
  min-height: 200px;
  background-color: #fff;
  box-shadow: var(--main-shadow);
  padding: 1em;
  display: flex;
  width: 100%;
  border-radius: 1em;

  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
}

.content-summary-dish-info {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  padding: 1em;
  justify-content: space-between;
  align-items: start;
}

.content-summary-dish-description {
  width: 100%;
}

.content-summary-dish-price {
  font-size: 20px;
  font-weight: 600;
  align-self: flex-end;
}

.content-summary-dish img {
  object-fit: cover;
  border-radius: 1em;
  width: 200px;

  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
}

/* About */
.content-about {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

/* Admin */
.content-admin {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.content-admin .dropdown {
  margin: 0;
}

#content-admin-table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  border: solid 2px var(--main-dark);
  overflow: hidden;
  table-layout: fixed;
}

#content-admin-table img {
  height: 100px;
  width: 100px;
  object-fit: cover;
}

#content-admin-table input {
  background-color: transparent;
  font-size: 16px;
  width: 100%;
}

#content-admin-table td,
th {
  vertical-align: top;
  text-align: left;
  padding: 0.5em;
  border: solid 1px var(--main-dark);
  border-collapse: collapse;
  word-wrap: break-word;
}

#content-admin-table th {
  font-weight: 600;
  background-color: #00000020;
}

#content-admin-save {
  width: 100%;
  padding: 1em;
  font-size: 16px;
  font-weight: 600;
  background-color: var(--main-dark);
  color: #fff;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
}

/* Courier */
.content-courier-waiting,
.content-courier-active {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.content-courier-order {
  background-color: #00000020;
  color: var(--main-dark);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 1em;
  overflow: hidden;
  box-shadow: var(--main-shadow);
  transition: 0.2s ease-out;

  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
}

.content-courier-order-header {
  width: 100%;
  color: var(--main-dark);
  background-color: white;
  font-weight: 600;
  overflow: hidden;
  border-radius: 1em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
}

.content-courier-order-info {
  padding: 1em;
  flex-basis: 50%;
  flex-grow: 1;
}

.content-courier-order-button {
  flex-basis: 10%;
  flex-grow: 1;
  color: #fff;
  background-color: var(--main-dark);
  font-size: 16px;
  font-weight: 600;
  box-sizing: border-box;
  padding: 1em;
  transition: 0.2s ease-out;

  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
}

.content-courier-order-button:hover {
  opacity: 80%;
}

.content-courier-order-description-dishes,
.content-courier-order-description-data {
  flex-basis: 40%;
  flex-grow: 1;
  padding: 1em;
}

.content-courier-order-description-sum h1 {
  float: left;
}

.content-courier-order-description-sum p {
  float: right;
  font-weight: 600;
}

.content-courier-order-description-data h1 {
  font-size: 16px;
}

.content-courier-order-description-data p {
  padding: 0.5em 0;
}

/* Restaurants */

.content-restaurants-card {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 1em;
  padding: 2em;
  border-radius: 2em;
  box-sizing: border-box;
  box-shadow: var(--main-shadow);
  margin-bottom: 1em;

  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  -ms-border-radius: 2em;
  -o-border-radius: 2em;
}

.content-restaurants-card-img {
  max-width: 300px;
  flex-grow: 1;
  flex-basis: 10%;
}

.content-restaurants-card-img img {
  aspect-ratio: 1/1;
  width: 100%;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
}

.content-restaurants-card-info {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-basis: 50%;
}

.content-restaurants-card-info * {
  align-self: flex-start;
}

.content-restaurants-card-info button {
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  padding: 1em;
  color: #fff;
  background-color: var(--main-dark);
  border-radius: 1em;
  align-self: flex-end;

  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
}

/* Content end */

/* Popup */

.popup {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #00000020;
  z-index: 100;
  transition: 0.2s ease-out;

  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
}

/* Form */

.popup form {
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  padding: 2em;
  gap: 1em;
  width: 100%;
  max-width: 600px;
  border-radius: 1em;
  box-shadow: var(--main-shadow);
  background-color: white;
  transition: 0.2s ease-out;

  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
}

.popup form input {
  box-sizing: border-box;
  width: 100%;
  padding: 1em;
  color: var(--main-dark);
  font-size: 20px;
  border-radius: 1em;
  border: solid 2px var(--main-dark);

  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
}

.popup form button {
  flex-grow: 1;
  padding: 1em 0;
  background-color: var(--main-dark);
  color: white;
  font-weight: 600;
  font-size: 20px;
  border-radius: 1em;
  transition: 0.2s ease-out;

  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
}

.popup form button:hover {
  opacity: 0.8;
}

/* Dish */

.popup-dish {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  max-width: 1200px;
  width: 90%;
  box-sizing: border-box;
  background-color: #fff;
  padding: 2em;
  box-sizing: border-box;
  border-radius: 2em;

  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  -ms-border-radius: 2em;
  -o-border-radius: 2em;
}

.popup-dish-photo {
  aspect-ratio: 1/1;
  flex-basis: 200px;
  flex-grow: 1;
}

.popup-dish img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 2em;

  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  -ms-border-radius: 2em;
  -o-border-radius: 2em;
}

.popup-dish-info {
  flex-grow: 4;
  width: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: start;
  gap: 1em;
}

.popup-dish-footer {
  display: flex;
  flex-wrap: wrap;
  align-self: end;
  justify-content: space-between;
  width: 100%;
}

.popup-dish-footer * {
  flex-basis: 100px;
  flex-grow: 1;
}

.popup-dish-info-description {
  width: 100%;
}

/* Other */

.hidden {
  opacity: 0;
}

.display-none {
  display: none;
}

.on-top {
  z-index: 99;
}

.alert {
  position: fixed;
  display: block;
  z-index: 100;
  width: 100%;
  top: -6em;
  height: 6em;
  transition: 0.2s ease-out;

  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
}

.alert-show {
  transform: translateY(6em);
  -webkit-transform: translateY(6em);
  -moz-transform: translateY(6em);
  -ms-transform: translateY(6em);
  -o-transform: translateY(6em);
}

.alert-body {
  max-width: 1400px;
  box-sizing: border-box;
  box-shadow: var(--main-shadow);
  margin: auto;
  margin-top: 1em;
  padding: 1em;
  font-weight: 600;
  color: #fff;
  width: 90%;
  max-width: 1400px;
  border-radius: 1em;
  box-shadow: var(--main-shadow);
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
}

.alert-close {
  float: right;
  cursor: pointer;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

.error {
  background-color: #cc4444;
}

.success {
  background-color: #44cc44;
}

/* Media queries */

@media screen and (min-width: 1200px) {
  .content-menu {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 1200px) {
  .content-menu {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 800px) {
  .content-menu {
    grid-template-columns: repeat(2, 1fr);
  }
  .header-menu {
    display: none;
  }
  .header-logo {
    order: 0;
  }
  .header-cart {
    order: -1;
  }
  .header-cart-content {
    left: 0;
    width: 100vw;
  }
}

@media screen and (max-width: 480px) {
  .content-menu {
    grid-template-columns: repeat(1, 1fr);
  }
}
