:root {
  --main-dark: #353535;
}

body {
  position: relative;
  font-family: "Raleway", sans-serif;
  min-height: 100vh;
}

h1 {
  font-size: 20px;
  font-weight: 600;
}

br {
  display: block;
  height: 1px;
}

input,
button {
  font-family: "Raleway", sans-serif;
}

/* Header */

header {
  position: sticky;
  top: 0;
  width: 100%;
  font-weight: 600;
  color: var(--main-dark);
  box-shadow: 0px 1px 10px rgb(220, 220, 220);
  background-color: white;
  z-index: 10;
}

.header-wrapper {
  width: 80%;
  height: 80px;
  margin: 0 auto;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  width: 10%;
}

.header-logo img {
  width: 100%;
}

.header-menu {
  display: flex;
  width: 50%;
  justify-content: space-around;
}

.header-menu li {
  padding: 1em;
  border-radius: 1em;
  cursor: pointer;
  text-align: center;
  transition: 0.2s ease-out;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
}

.header-menu li:hover {
  background-color: #dddddd;
}

.header-cart {
  position: relative;
}

.header-cart-logo {
  height: 2em;
  padding: 0.5em;
  border-radius: 1em;
  transition: 0.2s ease-out;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.header-cart-logo:hover {
  background-color: #dddddd;
}

.header-cart-sum {
  position: absolute;
  top: 1em;
  left: 3.5em;
}

.header-account-logo {
  height: 2em;
  padding: 0.5em;
  border-radius: 3em;
  transition: 0.2s ease-out;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
}

.header-account-logo:hover {
  background-color: #dddddd;
}

/* Footer */

footer {
  position: absolute;
  width: 100%;
  background-color: var(--main-dark);
  color: white;
  height: 200px;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-info {
  height: 150px;
  text-align: center;
}

.footer-info img {
  height: 80px;
  padding-bottom: 1em;
  border-bottom: solid white 1px;
  margin-bottom: 1em;
}

.footer-contact {
  text-align: center;
}

.footer-contact img {
  width: 50px;
  margin: 0 10px;
  transition: 0.2s ease-out;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
}

.footer-contact img:hover {
  transform: scale(110%);
}

/* Content */

.content {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 20px;
  padding-bottom: 220px;
  width: 80%;
  font-weight: 400;
  background: rgb(250, 250, 250);
}

/* Menu */

.content-menu {
  display: grid;
  position: relative;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.content-menu-dish {
  align-items: center;
  text-align: center;
  color: var(--main-dark);
  box-sizing: border-box;
  border-radius: 1em;
  padding: 1em;
  transition: 0.2s ease-out;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
}

.content-menu-dish:hover {
  box-shadow: 0px 0px 10px rgb(220, 220, 220);
}

.content-menu-dish-photo {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.content-menu-dish-description {
  font-size: 14px;
  height: 100px;
  overflow: hidden;
  margin: 5% 0;
}

.content-menu-dish-cart {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 600;
}

.content-menu-dish-cart-price {
  display: inline-block;
  width: 40%;
}

.content-menu-dish-cart-button {
  font-weight: 600;
  font-family: "Raleway", sans-serif;
  display: inline-block;
  cursor: pointer;
  border: none;
  border-radius: 0.5em;
  width: 50%;
  background: var(--main-dark);
  padding: 0.5em;
  color: white;
  font-size: 16px;
  transition: 0.2s ease-out;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
}

.content-menu-dish-cart-button:hover {
  opacity: 80%;
}

/* Popup */

.button-group {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 1em;
}

.button-group button {
  width: 100%;
}

.popup {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #35353577;
  z-index: 100;
  transition: 0.2s ease-out;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
}

.popup form {
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  padding: 2em;
  gap: 1em;
  width: 100%;
  max-width: 600px;
  border-radius: 1em;
  background-color: white;
  justify-content: center;
  align-items: flex-start;
}

.popup form input {
  box-sizing: border-box;
  width: 100%;
  padding: 1em;
  color: var(--main-dark);
  font-size: 20px;
  border-radius: 1em;
  border: solid 2px var(--main-dark);
  outline: none;
}

.popup form button {
  padding: 1em;
  background-color: var(--main-dark);
  color: white;
  font-weight: 600;
  font-size: 20px;
  border: none;
  border-radius: 1em;
  transition: 0.2s ease-out;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
}

.popup form button:hover {
  opacity: 0.8;
}

.hidden {
  display: none;
}
